<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opengalk.server.数据访问层.PaperInfoMapper">
    <update id="addGZPaper">
        create table paper."${uuid}"
        (
            id       smallint not null primary key,
            type     smallint not null,
            subject  varchar  not null,
            option_a varchar  not null,
            option_b varchar  not null,
            option_c varchar  not null,
            option_d varchar  not null,
            answer   varchar  not null,
            has_imgs smallint default 0 not null
        );
    </update>

    <update id="setHasImgs">
        update paper."${uuid}"
        set has_imgs=1
        where id = #{id}
    </update>

    <select id="isPaperExist" parameterType="java.lang.String">
        select count(*)
        from pg_class
        where relname = #{uuid};
    </select>

    <insert id="insertGZSubject" parameterType="GZSubjectObject">
        insert into paper."${uuid}"(id, type, subject, option_a, option_b, option_c, option_d, answer,has_imgs)
        values (#{id}, #{type}, #{subject}, #{optionA}, #{optionB}, #{optionC}, #{optionD}, #{answer},#{hasImgs})
    </insert>

    <insert id="deleteGZPaper" parameterType="java.lang.String">
        drop table paper."${uuid}";
    </insert>

    <select id="getGZPaperById" resultType="GZSubjectObject">
        select *
        from paper."${uuid}"
    </select>

    <select id="getGZPaperByIdWithNoAnswer" resultType="GZSubjectObject">
        select id,
               type,
               subject,
               option_a,
               option_b,
               option_c,
               option_d,
               has_imgs
        from paper."${uuid}"
    </select>

    <select id="getAnswerById" resultType="java.lang.String">
        select answer
        from paper."${uuid}"
    </select>

    <select id="getPaperList" resultType="paperInfo">
        select pi.id, pi.name, pr.score
        from "paper".paper_info as pi
                 left join "paper".paper_record as pr on pr.user_id = #{userId} and pi.id = pr.id
        where pi.is_deleted = 0
    </select>

    <select id="getHasImgs" resultType="java.lang.Integer">
        select has_imgs
        from paper."${uuid}"
        where id = #{id}
    </select>


</mapper>